<div class="d-flex justify-content-between align-items-center mt-2">
	<label>Description</label>
	<input type="text" [(ngModel)]="task.description">
	<div>
		<button class="btn btn-danger" (click)="parent.crud_operation.is_visible = false">
			<i class="fas fa-arrow-left"></i>
		</button>
		<button class="btn btn-primary" (click)="parent.save()">
			<i class="fas fa-save"></i>
		</button>
	</div>
</div>